{%load static%}

<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <!--fontawesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css">

        <!--Bootstrap social-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">

        <!--custom css-->
        <link rel="stylesheet" href="{% static 'css/style_base.css' %}">


        <title>{%block title%}{%endblock%}</title>
        
        {%block head%} {%endblock%}
    </head>

    <body>

        <div class="container" style="max-width:100%;">

            <div class="row">
                <div class="col col-sm-1" style="background:rgb(0,43,0);">

                </div>
                <div class="col col-sm-10 ml-0 navbar-primario" style="padding:0;font-size:150%;">

                    <nav class="navbar navbar-expand-lg">
            
                        <a class="navbar-brand" href="#">
                            <img src="{% static 'images/simbol.png' %}" width="90" alt="page simbol">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon" style="color:white; font-size: 150%;">
                                <i class="fas fa-bars fa-lg"></i>
                            </span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
            
                                {%block nav%} {%endblock%}

                                <li class="nav-item">

                                    <!--Button trigger modal Login-->

                                    

                                    <div class="button-login">
                                        <button type="button" class="btn" data-toggle="modal" data-target="#loginModal" >
                                            <i class="fas fa-sign-in-alt fa-lg"></i> Login
                                        </button>
                                    <div>
                                    <!-- Modal Login-->
                                    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="form-group">
                                                          <label for="exampleInputEmail1">User</label>
                                                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="exampleInputPassword1">Password</label>
                                                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Login</button>
                                                      </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </li>
            
                            </ul>
                        </div>
                    </nav>

                </div>
                <div class="col col-sm-1 ml-0" style="background:black;background:rgb(0,43,0);">

                </div>
            </div>

        </div>

        

        {%block content%} {%endblock%}

        <footer class="footer" style="padding-top:5%">

            <div class="container">

                <div class="row">

                    <div class="col-7 col-sm-5 offset-sm-1">
                        <h5>Our Address</h5>
                        <address>
                          Street 18, silicon valley<br>
                          Barrancabermeja, Colombia<br>
                          <i class="fa fa-phone fa-lg"></i> +57 3046708844<br>
                          <i class="fa fa-envelope fa-lg"></i> <a href="mailto:cristian-m-o@hotmail.com">cristian-m-o@hotmail.com</a>
                       </address>
                    </div>

                    <div class="col-12 col-sm-4 align-self-center">
                        <div class="text-center">
                            <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
                            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
                            <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
                            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
                            <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
                            <a class="btn btn-social-icon btn-google" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
                        </div>
                    </div>

                </div>


                <div class="row justify-content-center">             
                    <div class="col-auto">
                        <p>© Copyright 2021 Un mejor Planeta</p>
                    </div>
               </div>

            </div>

        </footer>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>

</html>