{%extends "base_plantilla.html" %}

{%block nav%} 
<li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home fa-lg"></i>Home <span class="sr-only">(current)</span></a>
</li>

<li class="nav-item ">
    <a class="nav-link" href="{% url 'forum' %}"><i class="fab fa-wpforms fa-lg"></i>Forum</a>
</li>

<li class="nav-item active">
    <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-info fa-lg"></i>About</a>
</li>
{%endblock%}

{%block content%}
<div class="container mt-5 mb-5">

    <div class="row align-items-center">
        <div class="col-12">
           <h3>About Us</h3>
           <hr>
        </div>
    </div>

    <div class="row row-content align-items-center">
        <div class="col-12 col-sm-6">
            <h2>Our History</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, 
                pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. 
                Donec scelerisque sollicitudin enim eu venenatis. Duis tincidunt laoreet ex, 
                in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent
                per conubia nostra, per inceptos himenaeos. Duis pharetra luctus lacus ut 
                vestibulum. Maecenas ipsum lacus, lacinia quis posuere ut, pulvinar vitae dolor.
                Integer eu nibh at nisi ullamcorper sagittis id vel leo.</p>
            <p>Integer feugiat 
                faucibus libero, at maximus <em>nisl suscipit </em>, posuere by our CEO, Mr. Cristian Miranda, that featured for the first time the world's best.</p>
        </div>
        <div class="col-12 col-sm">
            <div class="card">
                <h3 class="card-header bg-primary text-white">Un mundo Mejor</h3>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-6">Started</dt>
                        <dd class="col-6">06 Jun. 2021</dd>
                        <dt class="col-6">Major Stake Holder</dt>
                        <dd class="col-6">ONU</dd>
                        <dt class="col-6">Last Year's Turnover</dt>
                        <dd class="col-6">$0.0</dd>
                        <dt class="col-6">Employees</dt>
                        <dd class="col-6">2</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-body bg-light">
                <blockquote class="blockquote">
                    <p class="mb-0">No hay segundo planeta</p>
                    <div class="blockquote-footer">Pepito Perez, <cite title="Source Title">The Wit and Wisdom of Yogi Berra, P. Pepe, Diversion Books, 2014</cite></div>
                </blockquote>
            </div>
        </div>
    </div>

</div>
{%endblock%}

