{%extends "base_plantilla.html" %}
{% load humanize %}

{%block nav%} 
<li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home fa-lg"></i>Home <span class="sr-only">(current)</span></a>
</li>

<li class="nav-item active">
    <a class="nav-link" href="{% url 'forum' %}"><i class="fab fa-wpforms fa-lg"></i>Forum</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-info fa-lg"></i>About</a>
</li>
{%endblock%}

{%block content%} 

<h2>
    ¿Como podemos ayudar al medio ambiente?
</h2>

{%if user.is_authenticated%}

    <form method="post" action="">
        {% csrf_token %}
        {{comment_form}}

        <input type="submit" value="Submit">
        <input type="reset" value="Reset">

    </form>

{%endif%}

<div>
{%for comment in comments%}

<p> {{comment.text}}
({{comment.updated_at|naturaltime}})

{%if user == comment.owner%}
    <a href="{% url 'forum_comment_delete' comment.id %}">
        <i class="fa fa-trash"></i>
    </a>
{%endif%}
</p>

{%endfor%}
</div>


{%endblock%}
