{%extends "base_plantilla.html" %}
{% load humanize %}
{%load static%}

{%block nav%} 
<li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home fa-lg"></i>Home <span class="sr-only">(current)</span></a>
</li>

<li class="nav-item active">
    <a class="nav-link" href="{% url 'forum' %}"><i class="fab fa-wpforms fa-lg"></i>Forum</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-info fa-lg"></i>About</a>
</li>
{%endblock%}

{%block content%} 

<div class="container">

    <div class="row justify-content-center mt-5">
        <div class="alert alert-success" role="alert" style="font-size: 200%">
            ¿Cómo podemos ayudar al medio ambiente?
        </div>
        
    </div>

    <div class="row">
        
        <div class="col-sm-5 col-md-6 col-12 pb-4">

            <h3>Comentarios</h3>

            <div class="container">

                {%for comment in comments%}
                <div class="row">

                    <div class="comment mt-4 text-justify float-left"> <img src="{% static 'images/avatarinco.png' %}" alt="" class="rounded-circle" width="40" height="40">
                        
                        <h4>{{comment.owner}}</h4> <span>- {{comment.updated_at|naturaltime}} </span> 
                        <span> 
                            {%if user == comment.owner%}
                            <a href="{% url 'forum_comment_delete' comment.id %}">
                                <i class="fa fa-trash"></i>
                            </a>
                            {%endif%}
                        </span><br>
                        <p>{{comment.text}}</p>
                        

                    </div>
                
                </div>
                
                {%endfor%}

            </div>

        </div>

        <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
            <form method="post" id="algin-form">
                {% csrf_token %}
                <div class="form-group">
                    <h4>Leave a comment</h4> <label for="message">Message</label>
                    <textarea name="comment" id="id_comment" cols="30" rows="5" class="form-control"  maxlength="500" minlength="3" required></textarea>
                </div>
                <div class="form-group">
                    <p class="text-secondary">Para participar en este foro debe estar <a href="#" class="alert-link">registrado</a> de lo contrario no podrá participar.</p>
                </div>
                <div class="form-inline"> <input type="checkbox" name="check" id="checkbx" class="mr-1"> <label for="subscribe">Subscribe me to the newlettter</label> </div>
                {%if user.is_authenticated%}
                    <div class="form-group"> <button type="submit" id="post" class="btn" value="Submit">Post Comment</button> </div>
                {%endif%}
            </form>
        </div>

    </div>

</div>



{%endblock%}
