.navbar-primario {
    background:rgb(0,43,0)!important;
    
}

nav li a {
    color: rgb(125, 240, 125);
}

nav li a:hover {
    color: white;
}

.active a {
    color: white;
}

footer {
    background:rgb(0,43,0);
    color:white;
}
