.navbar-primario {
    background:rgb(0,43,0)!important;
    
}

nav li a {
    color: rgb(125, 240, 125);
}

nav li a:hover {
    color: white;
}

.active a {
    color: white;
}

footer {
    background:rgb(0,43,0);
    color:white;
}

/*
.button-login{
    
    margin-left: calc(100vw*0.4 - 50px);;
}*/

.button-login button{
    background-color: rgb(125, 240, 125); 
    color: rgb(0,43,0);
}

.comment h4,
.comment span {
    display: inline;
}

@media screen and (max-width: 992px) {

    
    
}